<span ng-repeat="definitionPart in definitionParts track by $index">
  <span contenteditable
        ng-model="definitionPart"
        class="definitionPart"
        ng-change="changeDefinition($index, definitionPart)"
        ng-keydown="handleKeydown($event, $index)"
        ng-keyup="handleKeyUp($event, $index)"
        ng-class="[ 'definition-part-' + $index,
                   {'non-terminal': isNonTerminal(definitionPart)} ]"
        no-line-breaks="true">
  </span>
  <span class="seperator"
        ng-if="$index < definitionParts.length - 1">
    {{ seperator }}
  </span>
</span>
