<h3>Your Grammar</h3>

<h2>Build your grammar here</h2>
<table>
  <tr ng-repeat="(symbol, definitions) in grammar">
    <td>
      {{ symbol }}
    </td>
    <td>
      <i class="material-icons">arrow_forward</i>
    </td>
    <td>
      <p ng-repeat="definition in definitions">
        {{definition}}
      </p>
    </td>
  </tr>
</table>
<form ng-submit="addNewDefinition(symbol, definition)"
      class="definition-form">
  <input id="symbol"
         ng-model="symbol"
         type="text"
         placeholder="symbol">
  <i class="material-icons">arrow_forward</i>
  <input id="definition"
         ng-model="definition"
         type="text"
         placeholder="definition">
  <input type="submit"
         value="Define">
</form>

<pre>{{grammar | json:4}}</pre>

<h3>The vertices in your grammar graph:</h3>

<ul>
  <li ng-repeat="vertex in vertices">
    {{ vertex }}
  </li>
</ul>

<p>{{sentence}}</p>