$non-terminal-color: #3182bd;
$symbol-color: #8E8E8E;
$start-symbol: #31a354;
$bottom-input-border: #BFBFBF;
$seperator-hover: #DF3121;

.definition-form {
  input[type=text] {
    font-family: "PT sans", sans-serif;
    font-size: 1.3rem;
    border: none;
    border-bottom: 2px solid $bottom-input-border;
    &#symbol {
      width: 8rem;
      color: $non-terminal-color;
      &::placeholder {
        color: $non-terminal-color;
        opacity: 0.4;
      }
    }
    &#definition {
      width: 30rem;
    }
    &:focus {
      outline: none;
    }
  }
}

#definition-arrow {
  color: $symbol-color;
  margin: 0 1rem;
}

span.non-terminal {
  color: $non-terminal-color;
}

.non-terminal.definition {
  font-size: 1.3rem;
}

span.non-terminal.start-symbol {
  color: $start-symbol;
}

input.definition {
  font-family: "PT Serif", serif;
  font-size: 0.9rem;
  border: none;
  width: 300px;
  &:focus {
      outline: none;
    }
}

definition {
  .edit-button {
    display: none;
    margin-left: 0.4rem;
    i {
      font-size: 0.95rem;
      color: $symbol-color;
    }
  }
  &:hover {
    .edit-button {
      display: inline;
    }
  }
}

.seperator {
  &:hover {
    background-color: $seperator-hover;
  }
}

.edit-definition-target {
  font-size: 1.3rem;
}

.deemphasized-definition, .deemphasized-symbol {
  opacity: 0.3;
}

definition.self-definition-error {
  span span span {
    color: $seperator-hover !important;
  }
  &::after {
    content: "(Error: do not define a word to equal itself)";
    color:  #DF9371;
  }
}

div.grammar-title {
  font-weight: normal;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: "PT sans", sans-serif;
  cursor: pointer;
  input[type=text] {
    font-family: "PT sans", sans-serif;
    font-size: 2rem;
    border: none;
    padding-right: 1.5rem;  // leave space for edit button

    &:focus, &:hover {
      outline: none;
      border-bottom: 2px solid $bottom-input-border;
      padding-bottom: -2px;
    }
  }


  .edit-button {
    display: none;
    margin-left: -1.5rem;
    i {
      font-size: 1.2rem;
      color: $symbol-color;
    }
  }
  &:hover {
    .edit-button {
      display: inline;
    }
  }
}

.view-setter {
  margin-top: 5rem;
}
